.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #d1c4e9;
  color: #fff; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  background-color: #512da8;
  padding: 50px 0px 0px 0px;
  z-index: 0; }
  body h3 {
    color: #fff; }

.navbar-dark {
  background-color: #512da8; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #512da8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal-content .modal-header {
  background: #512da8; }
  .modal-content .modal-header h4 {
    color: floralwhite; }
  .modal-content .modal-header .close {
    color: floralwhite; }

.modal-content .modal-body {
  background: #d1c4e9; }

.footer {
  background: #9575cd; }
  .footer a {
    color: #fff;
    padding: 0px 10px 0px 10px; }

.middle-side-content a {
  color: #12ca53; }
