$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;

$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn: 0px, $pad-left-right: 0px) {
  margin: 0px auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  @include zero-margin(0px, 0px);
}
.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-pale;
  color: #fff;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
body {
  background-color: $background-dark;
  padding: 50px 0px 0px 0px;
  z-index: 0;
  h3{
    color: #fff;
  }
}
.navbar-dark {
  background-color: $background-dark;
}
.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.carousel {
  background: $background-dark;

  .carousel-item {
    height: $carousel-item-height;
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
    }
  }
}
#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px;
}
.modal-content{
  .modal-header{
    background: $background-dark;
    h4{
      color: floralwhite;
    }
    .close{
      color: floralwhite;
    }
  }

  .modal-body{
    background: $background-pale;
  }
}
.footer{
 background: $background-light;
 a{
  color: #fff;
  padding: 0px 10px 0px 10px;
}
}
.middle-side-content{
  a{
    color: #12ca53;
  }
}

